{% extends 'layout.html.twig' %}

{% block body %}
    {{ parent() }}

<div>TODO Include navbar</div>

Main page, input some bootstrap

<h1>Homepage</h1>

<h2>Check out my github yo</h2>

<p>Lorem ipsum, retro synth master cleanse.</p>

<div>Put a cool face here</div>

Oh by the way I'm going to need to make it translatable, aren't I?
{% endblock %}
